* {
  box-sizing: border-box;
}

html {
  position: fixed;
  background: linear-gradient(45deg, rgb(48, 99, 73) 0%, rgb(84, 173, 133) 100%);
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Graduate', 'Segoe UI', 'Roboto', 'Oxygen',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
